.stules:last-child{

  font-weight: bolder;
  text-align: left;
  background-color: transparent;
  position: absolute;
  justify-content: space-between;
  overflow: hidden;
  transition: ease-in;
  border-color: transparent;
  position:initial;
  }
